@font-face {
    font-family: 'RCBI';
    src: url('../fonts/RobotoCondensed-BoldItalic.eot');
    src: url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
         url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-BoldItalic.svg#RCBI') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OSE';
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
         url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold.svg#OSE') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RCR';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular.svg#RCR') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RCB';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Bold.svg#RCR') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OSB';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.svg#OSB') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Days';
    src: url('../fonts/days-webfont.eot');
    src: url('../fonts/days-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/days-webfont.woff2') format('woff2'),
         url('../fonts/days-webfont.woff') format('woff'),
         url('../fonts/days-webfont.ttf') format('truetype'),
         url('../fonts/days-webfont.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OSS';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OSS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSR';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.svg#OSR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSL';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype'),
         url('../fonts/OpenSans-Light.svg#OSL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFL';
	src: url('../fonts/pdfintextcondpro-light-webfont.eot');
    src: url('../fonts/pdfintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pdfintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pdfintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFR';
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFM';
	src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}
body {
	min-width: 1050px;
	text-align: center;
	font-family: 'PFL';
	overflow-x: hidden;
	color: #472275;
	font-weight: 500;
}
a{
	text-decoration: none;
	color: #472275;
}
b,th{
	font-weight: 500;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 2px solid #FF5C5C !important;
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1050px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.70);
}
input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.70);
}
.b-green-butt{
	border-radius: 9px;
    background-color: #8dcd00;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    box-shadow: 1.5px 2.6px 4px rgba(27, 24, 21, 0.75);
    border: none;
    border-bottom: 2px solid #548F2D;
    display: inline-block;
}
	.b-green-butt:hover{
		background-color: #74c830;
		cursor: pointer;
	}	
	.b-green-butt:active{
		position: relative;
		top: 2px;
		border-bottom: none;
		box-shadow: 0.5px 1.6px 2px rgba(27, 24, 21, 0.75);
	}
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}
/*Главная-------------------------------------------------------------*/
.b-header{
	/*height: 113px;*/
}
	.b-header .b-block{

	}
		.b-header .left{
			margin-top: 26px;
			margin-bottom: 35px;
		}
			.b-header .left a{
				display: block;
				font-size: 0px;
			}
			.b-header .left img{
				margin-right: 29px;
			}
			.b-header .left p{
				    color: #28324E;
				    font-family: "OSR";
				    font-size: 18px;
				    width: 315px;
				    text-align: left;
				    margin-top: 3px;
			}
		.b-header .right{
			/*margin-bottom: 23px;*/
		}
			.b-header .right p{
				    color: #28324E;
				    font-family: "OSL";
				    font-size: 26px;
				    
				    margin-top: 8px;
			}
			.b-header .right > a{
				margin-top: 10px;
				display: block;
			    padding: 7px 26px;
			    color: #363636;
				font-family: "OSR";
    			font-size: 17px;
			}
			.b-header .right ul{
				margin-top: 14px;
				margin-right: 22px;
			}
				.b-header .right ul li{
					float: left;
					margin-right: 7px;
				}
					.b-header .right ul li:nth-child(1) div{
						width: 29px;
						height: 28px;
						background-image: url("../i/vk.png");
					}
						.b-header .right ul li:nth-child(1) div:hover{
							background-image: url("../i/vk-hover.png");
						}
					.b-header .right ul li:nth-child(2) div{
						width: 29px;
						height: 28px;
						background-image: url("../i/fb.png");
					}
						.b-header .right ul li:nth-child(2) div:hover{
							background-image: url("../i/fb-hover.png");
						}
					.b-header .right ul li:nth-child(3) div{
						width: 29px;
						height: 28px;
						background-image: url("../i/tw.png");
					}
						.b-header .right ul li:nth-child(3) div:hover{
							background-image: url("../i/tw-hover.png");
						}
.b-top-describe{
	background-image: url("../i/back.jpg");
	background-position: 50% 50%;
	background-size: cover;
	/*position: relative;*/
	overflow: hidden;
}
	.b-top-describe .w-1{
		position: absolute;
		top: 141px;
		left: 50%;
  		margin-left: -383px;
		z-index: 2;
	}
	.b-top-describe .w-2{
		position: absolute;
		top: 1px;
		left: 50%;
  		margin-left: -42px;
	}
	.b-top-describe .b-block{
		/*position: relative;*/
	}
		.b-top-describe .left-block{
			background-image: url("../i/cars.png");
			width: 644px;
    		height: 311px;
    		border-radius: 30px;
    		box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.58);
    		margin-top: 35px;
    		margin-bottom: 34px;
    		background-repeat: no-repeat;
    		position: relative;
  			z-index: 1;
		}
		.b-top-describe .right{
			z-index: 0;
  			position: relative;
			width: 378px;
   			/*height: 311px;*/
			background: -moz-linear-gradient(top,  rgba(0,146,206,0.91) 0%, rgba(97,123,186,0.91) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,146,206,0.91)), color-stop(100%,rgba(97,123,186,0.91))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,146,206,0.91) 0%,rgba(97,123,186,0.91) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,146,206,0.91) 0%,rgba(97,123,186,0.91) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,146,206,0.91) 0%,rgba(97,123,186,0.91) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,146,206,0.91) 0%,rgba(97,123,186,0.91) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80092ce', endColorstr='#e8617bba',GradientType=0 ); /* IE6-9 */
   			border-radius: 30px;
   			margin-top: 35px;
   			overflow: hidden;
   			margin-bottom: 35px;
		}
			.b-top-describe .right h2{
				    color: #FFF;
				    font-family: "OSS";
				    font-size: 17px;
				    
				    text-transform: uppercase;
				    background-color: rgba(161, 204, 20, 0.91);
				    margin-top: 29px;
				    padding: 4.5px 32px;
			}
				.b-top-describe .right .center{
					margin-top: 26px;
					display: table;
				}
					.b-top-describe .right .center .left-cell{
						display: table-cell;
						vertical-align: top;
					}
					.b-top-describe .right .center .left-cell div{
						margin-left: 50px;
						margin-top: 2px;
						margin-right: 11px;
						width: 23px;
						border:3px solid #FFF;
						border-right: none;
					}
					.b-top-describe .right .center .right-cell{
						padding-right: 30px;
						display: table-cell;
					}
					.b-top-describe .right .center .right-cell p{
						color: #FFF;
						font-family: "OSR";
						font-size: 16px;
						padding-right: 17px;
						text-align: left;
						float: left;
						margin-top: -7px;
						line-height: 20px;
					}
				.b-top-describe .right .bottom{
					margin-top: 36px;
					margin-bottom: 28px;
				}
					.b-top-describe .right .bottom p{
					    color: #FFF;
					    font-family: "OSS";
					    font-size: 17px;
					    text-transform: uppercase;
					    margin-bottom: 20px;
					}
.b-menu{
	background-color: #28324e;
	position: relative;
	z-index: 3;
}
	.b-menu .b-block{

	}
		.b-menu ul{

		}
			.b-menu ul li{
				float: left;
				position: relative;
			}
				.b-menu ul li p{
					font-family: "OSL";
				    font-size: 17px;
				    text-transform: uppercase;
				    color: #FFF;
				    margin-top: 13px;
				    margin-bottom: 13px;
				    padding: 0px 28px;
				    display: block;
					/*margin-right: 30px;*/
				}
					.b-menu ul li p:hover{
						color: #217eae;
					}
					.b-menu ul li:first-child p{
						padding-left: 0px;
					}
					.b-menu ul li:last-child p{
						padding-right: 0px;
					}
						.b-menu ul li:last-child p:after{
							display: none;
						}
				.b-menu ul li p:after{
					content: ".";
					font-size: 0px;
					display: block;
					background-image: url("../i/line.png");
					background-position: 50% 50%;
					width: 1px;
					height: 40px;
					position: absolute;
					top: 5px;
					right: 0px;
				}
.b-main-describe{
	padding-bottom: 75px;
}
	.b-main-describe .b-block{
		text-align: center;
	}
		.b-main-describe h1{
			color: #28324E;
    		font-family: "OSS";
    		margin-top: 47px;
    		font-size: 29px;
    		padding: 0px 70px;
		}
		.b-main-describe .b-block > p{
			color: #28324E;
    		font-family: "OSL";
    		display: inline-block;
    		margin-top: 25px;
    		width: 915px;
			font-size: 15px;
			line-height: 21px;
		}
		.b-main-describe ul{
			margin-top: 40px;
		}
			.b-main-describe ul li{
				float: left;
				text-align: center;
				/*margin-right: -17px;*/
				width: 174px;
			}
				.b-main-describe ul li:last-child{
					margin-right: 0px;
				}
				.b-main-describe ul li div{
					display: inline-block;
					height: 91px;
					width: 91px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
					.b-main-describe ul li:nth-child(1) div{
						background-image: url("../i/main/b_1/1.png");
					}
					.b-main-describe ul li:nth-child(2) div{
						background-image: url("../i/main/b_1/2.png");
					}
					.b-main-describe ul li:nth-child(3) div{
						background-image: url("../i/main/b_1/3.png");
					}
					.b-main-describe ul li:nth-child(4) div{
						background-image: url("../i/main/b_1/4.png");
					}
					.b-main-describe ul li:nth-child(5) div{
						background-image: url("../i/main/b_1/5.png");
					}
					.b-main-describe ul li:nth-child(6) div{
						background-image: url("../i/main/b_1/6.png");
					}
				.b-main-describe ul li p{
					margin-top: 27px;
					color: #28324E;
				    font-family: "OSR";
				    font-size: 15px;
				}
.b-describe{
	background-color: #28324e;
}
.b-describe-2{
	background-color: #FFF;
}
.b-describe-4{
	background-color: #FFF;
}
	.b-describe .b-block{
		width: 100%;
		text-align: center;
	}
				.b-describe h2{
					padding-top: 31px;
					color: #FFF;
		    		font-family: "OSS";
		    		font-size: 29px;
		    		width: 980px;
		    		margin: 0px auto;
				}
				.b-describe .b-block .b-cont{
					margin-top: 41px;
					margin-bottom: 42px;
					width: 940px;
					display: inline-block;
				}
					.b-describe .b-block .b-cont img{
						float: left;
						/*margin-right: 32px;*/
					}
					.b-describe .b-cont-describe{
						width: 600px;
						/*height: 170px;*/
						margin-bottom: 20px;
						min-height: 163px;
					}
					.b-describe .b-block .b-cont h3{
						text-align: left;
						color: #8dcd00;
					    font-family: "OSR";
					    font-size: 23px;
					    line-height: 27px;
					}
					.b-describe .b-block .b-cont p{
						margin-top: 29px;
						color: #FFF;
						width: 600px;
				    	font-family: "OSL";
				    	font-size: 16px;
				    	text-align: left;
				    	line-height: 20px;
					}
						.b-describe-2 .b-block .b-cont p{
							color: #292929;
						}
						.b-describe-4 .b-block .b-cont p{
							color: #292929;
						}
					.b-describe div .b-green-butt{
						color: #2E2E2E;
						margin-left: 30px;
					    font-family: "OSR";
					    font-size: 17px;
					    padding: 5px 12px;
					    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
					}
					.b-describe div .b-green-border{
						color: #FFF;
					    font-family: "OSR";
					    font-size: 17px;
					    text-transform: uppercase;
					    border: 2px solid #8dcd00;
					    border-radius: 9px;
					    padding: 4px 51px;
					    display: inline-block;
					}
						.b-describe div .b-green-border:hover{
							background-color: rgba(193, 250, 0, 0.40);
						}
						.b-describe div .b-green-border:active{
							background-color: rgba(193, 250, 0, 0.50);

						}
							.b-describe-2 div .b-green-border{
								color: #2E2E2E;
							}
							.b-describe-4 div .b-green-border{
								color: #2E2E2E;
							}
.b-reviews{
	border-top: 2px solid #b7b7bc;
}
	.b-reviews .b-block{

	}
		.b-reviews h2{
			color: #28324E;
		    font-family: "OSS";
		    font-size: 29px;
		    margin-top: 30px;
		    padding: 0px 50px;
		}
		.b-reviews .b-block > div{
			position: relative;
			margin-left: 18px;
			margin-top: 52px;
			margin-bottom: 48px;
		}
			.b-reviews .left-ar{
				position: absolute;
				left: 0px;
				margin-top: -45px;
				top: 50%;
			}
			.b-reviews .right-ar{
				position: absolute;
				right: 15px;
				margin-top: -45px;
				top: 50%;
			}
			.b-reviews ul{

			}
				.b-reviews ul li{

				}
					.b-reviews ul li .comment{
						float: left;
						background-image: url("../i/comments/mask.png");
						width: 220px;
						height: 220px;
						background-position: 50% 50%;
						margin-left: 38px;
						margin-right: 41px;
						box-shadow: inset 0 0 0 10px #8a909e;
						border-radius: 50%;
					}
					.b-reviews ul li .cloud{
						float: left;
						border: 3px solid #bdbdbe;
						border-radius: 30px;
						/*background-image: url("../i/comments/comment-1.png");*/
						width: 667px;
						position: relative;
					}
						.b-reviews ul li .cloud img{
							position: absolute;
							top: 22px;
							left: -39px;
						}
						.b-reviews ul li .cloud h3{
							color: #28324E;
						    font-family: "OSL";
						    font-size: 19px;
						    text-transform: uppercase;
						    margin-top: 20px;
						    text-align: left;
						    margin-left: 52px;
						    width: 558px;
						}
							.b-reviews ul li .cloud h3 b{
								font-family: "OSB";
								margin-right: 20px;
							}
						.b-reviews ul li .cloud p{
							margin-left: 52px;
							margin-top: 16px;
							font-size: 15px;
							color: #28324E;
						    font-family: "OSL";
						    width: 558px;
						    text-align: left;
						    padding-bottom: 15px;
						}
.b-question{
	background-color: #28324e;
}
	.b-question .b-block{

	}
		.b-question .b-block .left{
			margin-top: 14px;
			margin-bottom: 16px;
		}
			.b-question .b-block .left p{
				color: #FFF;
    			font-family: "OSL";
    			font-size: 14px;
    			text-align: left;
    			width: 240px;
			}
				.b-question .b-block .left p b{
					font-size: 15px;
    				
    				font-family: "OSS";
				}
	.b-question form{
		padding-top: 31px;
		float: right;
	}
		.b-question form input[type="text"]{
			color: #FFF;
		    font-family: "OSL";
		    font-size: 15px;
		    border: 2px solid #FFF;
		    border-radius: 8px;
		    text-align: center;
		    background-color: #28324e;
		    width: 150px;
    		height: 29px;
    		margin-right: 10px;
    		padding: 0px 14px;
		}
		.b-question form input[type="submit"]{
			padding: 6.5px 32px;
			color: #2E2E2E;
    		font-family: "OSR";
    		font-size: 15px;
    		margin-right: 7px;
    		margin-left: 14px;
		}
.b-footer{

}
	.b-footer .b-block{
		padding-bottom: 63px;
	}
		.b-footer .left{
			margin-left: 138px;
			/*margin-right: 86px;*/
		}
			.b-footer .left h2{
				margin-top: 27px;
				color: #28324E;
			    font-family: "OSB";
			    font-size: 14px;
			    text-transform: uppercase;
			    text-align: left;
			    margin-bottom: 20px;
			}
			.b-footer .left ul{
				
			}
				.b-footer .left ul li{
					margin-bottom: 2px;
				}
					.b-footer a:hover{
						text-decoration: underline;
					}
					.b-footer .left p{
						color: #28324E;
					    font-family: "OSR";
					    font-size: 14px;
					    text-align: left;
					}
						.b-footer .left p b{
							
							font-family: "OSB";
						}
/*Главная-------------------------------------------------------------*/
/*О компании----------------------------------------------------------*/
.b-about{

}
	.b-about .b-block{

	}
		.b-about h2{
			margin-top: 33px;
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
		}
		.b-about .b-block > div{
			margin-top: 31px;
		}
		.b-about .left-describe{
			width: 335px;
		}
			.b-about p{
				color: #252525;
				font-family: "RCR";
				font-size: 14px;
				text-align: justify;
				width: 335px;
			}
		.b-about .about-img{
			background-image: url("../i/about/cars.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			border-radius: 30px;
			/*box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.65);*/
			width: 310px;
			height: 208px;
			margin-left: 40px;
		}
		.b-about img{
			margin-bottom: 63px;
		}
.b-traffic{
	background-image: url("../i/traffic-back.jpg");
	background-position: 50% 50%;
	background-size: cover;
}
	.b-traffic .b-block{
		width: 100%;
		text-align: center;
	}
		.b-traffic .clearfix{
			width: 1050px;
			display: inline-block;
			padding-bottom: 30px;
			padding-top: 20px;
		}
		.b-traffic .b-traffic-cont{
			background-color: rgba(32, 50 ,78, 0.92);
		}
		.b-traffic .b-traffic-cont-1{
			background-color: rgba(48, 64, 92, 0.89);
		}
		.b-traffic h2{
			color: #3CB4E5;
			font-family: "RCB";
			font-size: 24px;
			padding-top: 30px;
			margin-bottom: 15px;
		}
		.b-traffic .b-country{
			background-image: url("../i/about/russia.png");
			background-position: 50% 50%;
			width: 282px;
			height: 208px;
			background-repeat: no-repeat;
		}
		.b-traffic .b-country-1{
			background-image: url("../i/about/europe.png");
			background-position: 50% 50%;
			width: 282px;
			height: 208px;
			background-repeat: no-repeat;
		}
		.b-traffic .b-country-2{
			background-image: url("../i/about/finland.png");
			background-position: 50% 50%;
			width: 282px;
			height: 208px;
			background-repeat: no-repeat;
		}
		.b-traffic .b-country-traffic{
			width: 726px;
			text-align: left;
		}
			.b-traffic .b-country-traffic h3{
				color: #FFF;
				font-family: "RCBI";
				font-size: 14px;
				margin-bottom: 22px;
				margin-top: 15px;
			}
			.b-traffic .b-country-traffic p{
				color: #FFF;
				font-family: "RCR";
				font-size: 14px;	
			}
				.b-traffic .b-country-traffic p a{
					color: #FFF;
					font-family: "RCR";
					font-size: 14px;	
					text-decoration: underline;
				}
	.b-traffic .white-line{
		height: 20px;
		background-color: #FFF;
	}
/*О компании----------------------------------------------------------*/
/*Информация----------------------------------------------------------*/
.b-info{

}
	.b-info .b-block{
		text-align: left;
		padding-bottom: 77px;
	}
		.b-info h2{
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
			margin-top: 34px;
			margin-bottom: 33px;
			text-align: center;
		}
		.b-info .b-block > p{
			display: inline-block;
			color: #252525;
			font-family: "RCR";
			width: 970px;
			text-align: left;
			font-size: 14px;
			margin-left: 23px;
		}
		.b-info ul{
			margin-left: 115px;
			margin-top: 44px;
		}
			.b-info ul li{
				text-align: left;
			}
				.b-info ul li b{
					color: #217EAE;
					font-family: "Days";
					font-size: 30px;
					margin-right: 9px;
				}
				.b-info ul li span{
					color: #252525;
					font-family: "RCR";
					font-size: 17px;
					position: relative;
  					top: -5px;
				}
		.b-info .b-block .clearfix{
			display: table;
			margin-left: 158px;
			margin-top: 38px;
		}	
		.b-info .b-block .clearfix .left{
			display: table-cell;
			vertical-align: middle;
		}
			.b-info .b-block .clearfix .b-bracket div{
				margin-right: 24px;
				height: 65px;
				width: 43px;
				border: 3px solid #217eae;
				border-right: none;
			}
			.b-info .b-block div p{
				width: 758px;
				color: #252525;
				font-family: "RCR";
				font-size: 14px;
				margin-top: -6px;
			}			
/*Информация----------------------------------------------------------*/
/*Отзывы--------------------------------------------------------------*/
.b-main-reviews{

}
	.b-main-reviews .b-block{
		text-align: center;
	}
		.b-main-reviews h2{
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
			margin-top: 40px;
			margin-bottom: 48px;
		}
			.b-main-reviews .clearfix{
				display: inline-block;
				margin-bottom: 53px;
			}
			.avatar{
				background-image: url("../i/comments/mask.png");
				background-position: 50% 50%;
				background-size: cover;
				width: 208px;
				height: 208px;
				border-radius: 50%;
				border: 10px solid #8a909e;
				margin-right: 41px;
				/*margin-top: -13px;*/
			}
			.b-main-reviews .review-2 .avatar{
				margin-left: 41px;
				margin-right: 0px;
			}
			.b-main-reviews .b-block .review {
				/*float: left;*/
				border: 3px solid #bdbdbe;
				border-radius: 30px;
				/*background-image: url("../i/comments/comment-1.png");*/
				width: 667px;
				position: relative;
				margin-top: 13px;
			}
				.b-main-reviews .b-block .review-1 img{
					position: absolute;
					top: 22px;
					left: -39px;
				}
				.b-main-reviews .b-block .review-2 img{
					position: absolute;
					top: 22px;
					left: -39px;
				}
				.b-main-reviews .b-block .review h3{
					color: #28324E;
				    font-family: "OSL";
				    font-size: 19px;
				    text-transform: uppercase;
				    margin-top: 20px;
				    text-align: left;
				    margin-left: 52px;
				}
					.b-main-reviews .b-block .review h3 b{
						font-family: "OSB";
						margin-right: 20px;
					}
				.b-main-reviews .b-block .review p{
					margin-left: 52px;
					margin-top: 16px;
					font-size: 15px;
					color: #28324E;
				    font-family: "OSL";
				    width: 558px;
				    text-align: left;
				    padding-bottom: 15px;
				}
		.b-main-reviews .b-block a{
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
			text-decoration: underline;
			display: inline-block;
			margin-top: -10px;
			margin-bottom: 52px;
		}
			.b-main-reviews .b-block a:hover{
				text-decoration: none;
			}
/*Отзывы--------------------------------------------------------------*/
/*Автофлот--------------------------------------------------------------*/
.b-auto{

}
	.b-auto .b-block{
		text-align: center;
	}
		.b-auto h2{
			margin-top: 35px;
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
		}
		.b-auto p{
			text-align: left;
			display: inline-block;
			color: #252525;
			font-family: "RCR";
			font-size: 14px;
			width: 876px;
			margin-top: 30px;
		}
		.b-auto .b-block > div{
			width: 640px;
			height: 387px;
			box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.58);
			background-image: url("../i/avtoflot/trucks.jpg");
			display: inline-block;
			margin-top: 70px;
			margin-bottom: 85px;
			position: relative;
		}
				.b-auto .b-block div div:nth-child(1) a{
					position: absolute;
					background-image:url("../i/avtoflot/arrow-left.png"); 
					width:42px;
					height: 42px;
					top: 173px;
					left: 0px;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-color: rgba(255, 255, 255, 0.58);
					display: block;
				}
				.b-auto .b-block div div:nth-child(2) a{
					position: absolute;
					top: 173px;
					background-image:url("../i/avtoflot/arrow-right.png"); 
					width:42px;
					height: 42px;
					right: 0px;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-color: rgba(255, 255, 255, 0.58);
					display: block;
				}
/*Автофлот--------------------------------------------------------------*/
/*Контакты--------------------------------------------------------------*/
.b-contacts{

}
	.b-contacts .b-block{
		text-align: center;
	}
		.b-contacts h2{
			margin-top: 40px;
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
		}
			.b-contacts .b-block > .clearfix{
				margin-left: 93px;
				margin-top: 35px;
				margin-bottom: 70px;
			}
		.b-contacts .coordinates{

		}
			.b-contacts .coordinates h3{
				color: #A1CC14;
				font-size: 20px;
				font-family: "RCB";
				text-align: left;
			}	
			.b-contacts .coordinates p{
				color: #252525;
				font-size: 14px;
				text-align: left;
				font-family: "RCR";
				margin-top: 15px;
				margin-bottom: 15px;
				line-height: 17px;
			}
				.b-contacts .coordinates p b{
					
					color: #252525;
					font-size: 14px;
					font-family: "RCB";
				}
				.b-contacts .coordinates p a:hover{
					text-decoration: underline;
				}
			.b-contacts .coordinates .mini-map{
				width: 286px;
				height: 284px;
				background-color: black;
				margin-top: 13px;
				margin-bottom: 15px;
			}
			.b-contacts .coordinates ul{
				margin-top: 15px;
			}	
				.b-contacts .coordinates ul li{
					float: left;
					margin-right: 10px;
				}
					.b-contacts .coordinates ul li:last-child{
						margin-right: 0px;
					}
					.b-contacts .coordinates ul li:nth-child(1) div{
						background-image: url("../i/contacts/fb.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(1) div:hover{
							background-image: url("../i/contacts/fb-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(2) div{
						background-image: url("../i/contacts/tw.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(2) div:hover{
							background-image: url("../i/contacts/tw-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(3) div{
						background-image: url("../i/contacts/vk.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(3) div:hover{
							background-image: url("../i/contacts/vk-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(4) div{
						background-image: url("../i/contacts/ok.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(4) div:hover{
							background-image: url("../i/contacts/ok-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(5) div{
						background-image: url("../i/contacts/lj.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(5) div:hover{
							background-image: url("../i/contacts/lj-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(6) div{
						background-image: url("../i/contacts/fl.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(6) div:hover{
							background-image: url("../i/contacts/fl-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(7) div{
						background-image: url("../i/contacts/mail.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(7) div:hover{
							background-image: url("../i/contacts/mail-hover.png");
						}
					.b-contacts .coordinates ul li:nth-child(8) div{
						background-image: url("../i/contacts/yd.png");
						background-position: 50% 50%;
						width: 34px;
						height: 33px;
					}
						.b-contacts .coordinates ul li:nth-child(8) div:hover{
							background-image: url("../i/contacts/yd-hover.png");
						}
		.b-contacts .b-region{
			margin-left: 15px;
			margin-top: 6px;
		}
			.b-contacts .b-region ul{

			}
				.b-contacts .b-region ul li{
					float: left;

				}
					.b-contacts .b-region ul li p{
						color: #AFD349;
						font-family: "RCB";
						font-size: 17px;
						margin-right: 10px;
					}
					.b-contacts .b-region ul li a{
						color: #AFD349;
						font-family: "RCB";
						font-size: 17px;
						text-transform: uppercase;
						padding: 1.5px 13px;
					}
						.b-contacts .b-region ul li a:hover{
							background-color: #1e2e4e;
							color: #FFF;
						}
			.b-contacts .b-region .big-map{
				width: 526px;
				height: 565px;
				background-color: black;
				margin-top: 29px;
			}
/*Контакты--------------------------------------------------------------*/
/*Перевозки в Европу----------------------------------------------------*/
.b-europe{

}
	.b-europe .b-block{
		text-align: center;
	}
		.b-europe h2{
			margin-top: 40px;
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
		}
		.b-europe .b-block .info{
			margin-left: 56px;
			margin-top: 50px;
		}
			.b-europe .b-block .info p{
				color: #252525;
				font-size: 14px;
				font-family: "RCR";
				width: 615px;
				text-align: left;
			}
				.b-europe .b-block .info ul{
					margin-top: 20px;
					margin-bottom: 20px;
					margin-left: 17px;
				}
					.b-europe .b-block .info ul li{
						font-size: 15px;
						color: #252525;
						font-family: "RCB";
						list-style-type: disc;
						text-align: left;
					}
		 .b-right-form{
			border-radius: 25px;
			background-color: #28324E;
			width: 277px;
			height: 313px;
			margin-top: 28px;
			margin-left: 70px;
		}
			 .b-right-form h3{
				font-size: 18px;
				color: #FFF;
				font-family: "OSS";
				margin-top: 20px;
			}
			 .b-right-form p{
				font-size: 14px;
				font-family: "OSL";
				color: rgba(255, 255, 255, 0.80);
				padding: 0px 10px;
			}
			 .b-right-form form{
				margin-top: 22px;
			}
				 .b-right-form form input[type="text"]{
					font-family: "OSR";
					font-size: 15px;
					text-align: center;
					border: none;
					border-radius: 8px;
					margin-bottom: 14px;
					border-bottom: 1px solid #a9adb8;
					width: 161px;
					height: 31px;
					padding: 0px 10px;
				}
				 .b-right-form form input[type="submit"]{
					margin-top: 5px;
					padding: 3px 43.5px;
					font-family: "OSR";
					font-size: 15px;
				}
					 .b-right-form form input::-webkit-input-placeholder{
						color: #28324E;
					}
					 .b-right-form form input:-moz-placeholder{
						color: #28324E;
					}
		.b-europe table{
			overflow: hidden;
			border-radius: 30px;
			border: 1px solid #828282;
			display: inline-block;
			margin-top: 59px;
			margin-bottom: 88px;
		}
			.b-europe table tr{
				border-bottom: 1px solid #b0b0b0;
				vertical-align: middle;
			}
				.b-europe table tr:last-child{
					border-bottom: none;
				}
				.b-europe table tr th{
					color: #535353;
					font-family: "RCB";
					font-size: 14px;
					border-right: 1px solid #b0b0b0;
					min-height: 28px;
				}
					.b-europe table tr th:nth-child(3n){
						border-right: none;
					}
					.b-europe table tr th:nth-child(1){
						width: 190px;
						padding: 13.5px 0px;
					}
					.b-europe table tr th:nth-child(2){
						width: 217px;
					}
					.b-europe table tr th:nth-child(3){
						width: 219px;
					}
				.b-europe table tr td{
					color: #535353;
					height: 33px;
					font-family: "RCR";
					font-size: 14px;
					border-right: 1px solid #b0b0b0;
					background-color: #dedede;
				}
					.b-europe table tr td:nth-child(3n){
						border-right: none;
					}
					.b-europe table tr td:nth-child(2n+2){
						background-color: #f0f0f0;
					}
/*Перевозки в Европу----------------------------------------------------*/
/*Перевозки по России----------------------------------------------------*/
.b-russia{

}
	.b-block{

	}
		.b-russia h2{
			margin-top: 40px;
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
		}
		.b-russia .b-block .info{
			margin-left: 56px;
			margin-top: 50px;
		}
			.b-russia .b-block .info p{
				color: #252525;
				font-size: 14px;
				font-family: "RCR";
				width: 612px;
				text-align: left;
			}
		.b-russia table{
			overflow: hidden;
			border-radius: 30px;
			border: 1px solid #828282;
			display: inline-block;
			margin-top: 59px;
			margin-bottom: 109px;
		}
			.b-russia table .space{
				height: 35px;
			}
			.b-russia table tr{
				border-bottom: 1px solid #b0b0b0;
				vertical-align: middle;
			}
				.b-russia table tr:last-child{
					border-bottom: none;
				}
				.b-russia table tr th{
					color: #535353;
					font-family: "RCB";
					font-size: 14px;
					border-right: 1px solid #b0b0b0;
					min-height: 28px;
					padding: 9px 0px;
				}
					.b-russia table tr th:nth-child(5n){
						border-right: none;
					}
					.b-russia table tr th:nth-child(1){
						width: 187px;
						/*padding: 13.5px 0px;*/
					}
					.b-russia table tr th:nth-child(2){
						width: 201px;
					}
					.b-russia table tr th:nth-child(3){
						width: 193px;
					}
					.b-russia table tr th:nth-child(4){
						width: 174px;
					}
					.b-russia table tr th:nth-child(5){
						width: 195px;
					}
				.b-russia table tr td{
					color: #535353;
					height: 33px;
					font-family: "RCR";
					font-size: 14px;
					border-right: 1px solid #b0b0b0;
					background-color: #dedede;
				}
					.b-russia table tr td:nth-child(5n){
						border-right: none;
					}
					.b-russia table tr td:first-child{
						text-align: left;
						padding-left: 25px;
					}
					.b-russia table tr td:nth-child(2n+2){
						background-color: #f0f0f0;
					}
/*Перевозки по России----------------------------------------------------*/
/*Новости-------------------------------------------------------------*/
.b-news{

}
	.b-news .b-block{
		text-align: center;
	}
		.b-news h2{
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
			margin-top: 40px;
			margin-bottom: 55px;
		}
		.b-news .news-describe{

		}
			.b-news .b-block .news-describe  .ava{
				width: 218px;
				height: 163px;
				background-image: url("../i/news/1.jpg");
				background-position: 50% 50%;
				background-size: cover;
				margin-right: 35px;
			}
			.b-news .b-block .news-describe  h3{
				color: #4A82C1;
				font-family: "OSS";
				font-size: 14px;
				text-align: left;
				text-transform: uppercase;
			}
			.b-news .b-block .news-describe  h4{
				color: #444;
				font-family: "OSR";
				text-align: left;
				font-size: 12px;
				text-transform: uppercase;
				margin-top: 5px;
				margin-bottom: 15px;
			}
			.b-news .b-block .news-describe  p{
				color: #444;
				font-family: "OSR";
				font-size: 14px;
				width: 335px;
				text-align: justify;
			}
			.b-news .b-block .news-describe  a{
				color: #444;
				font-family: "OSS";
				font-size: 18px;
				text-align: right;
				text-decoration: underline;
				display: block;
				margin-top: 13px;
			}
				.b-news .b-block .news-describe  a:hover{
					text-decoration: none;
				}
			.b-news .b-block .news-describe  span{
				width: 369px;
				height: 1px;
				background-color: #e3e3e3;
				display: block;
				margin-top: 13px;
				margin-bottom: 25px;
				margin-left: -94px;
			}
		.b-news .b-frame{
			width: 405px;
			height: 759px;
			background-color: black;
		}
		.b-news .b-green{
			margin-top: 43px;
			margin-bottom: 48px;
			display: inline-block;
			height: 30px;
		}
		.b-news .b-green .b-green-butt{
			color: #2E2E2E;
			font-family: "OSR";
			font-size: 15px;
			
			text-shadow: -0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
			padding: 4.5px 50px;
			
		}
/*Новости-------------------------------------------------------------*/
/*Основные маршруты---------------------------------------------------*/
.b-route{

}
	.b-route .b-block{
		text-align: center;
	}
		.b-route h2{
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
			margin-top: 41px;
			margin-bottom: 30px;
		}
		.b-route .b-block .info{
			margin-left: 56px;
			/*margin-top: 50px;*/
		}
			.b-route .b-block .info p{
				color: #252525;
				font-size: 14px;
				font-family: "RCR";
				width: 615px;
				text-align: left;
			}
				.b-route .b-block .info ul{
					margin-top: 20px;
					margin-bottom: 20px;
					margin-left: 17px;
				}
					.b-route .b-block .info ul li{
						font-size: 15px;
						color: #252525;
						font-family: "RCB";
						list-style-type: disc;
						text-align: left;
					}
		.b-route .b-form{
			border-radius: 25px;
			background-color: #28324E;
			width: 277px;
			height: 313px;
			/*margin-top: 28px;*/
			margin-left: 64px;
			margin-top: -3px;
		}
			.b-route .b-form h3{
				font-size: 18px;
				color: #FFF;
				font-family: "OSS";
				margin-top: 20px;
			}
			.b-route .b-form p{
				font-size: 14px;
				font-family: "OSL";
				color: rgba(255, 255, 255, 0.80);
				padding: 0px 10px;
			}
			.b-route .b-form form{
				margin-top: 22px;
			}
				.b-route .b-form form input[type="text"]{
					font-family: "OSR";
					font-size: 15px;
					text-align: center;
					border: none;
					border-radius: 8px;
					margin-bottom: 14px;
					border-bottom: 1px solid #a9adb8;
					width: 161px;
					height: 31px;
					padding: 0px 10px;
				}
				.b-route .b-form form input[type="submit"]{
					padding: 3px 43.5px;
					margin-top: 5px;
					font-family: "OSR";
					font-size: 15px;
				}
					.b-route .b-form form input::-webkit-input-placeholder{
						color: #28324E;
					}
					.b-route .b-form form input:-moz-placeholder{
						color: #28324E;
					}
		.bottom-describe{
			color: #252525;
			font-size: 14px;
			font-family: "RCR";
			width: 944px;
			text-align: left;
			display: inline-block;
			margin-bottom: 70px;
		}
.b-steps{
	background-color: #1e2e4e;
}
	.b-steps .b-block{
		text-align: center;
		padding-bottom: 17px;
	}
		.b-steps h2{
			color: #FFF;
			font-family: "RCB";
			font-size: 24px;
			padding-top: 25px;
		}
		.b-steps ul{
			margin-bottom: 26px;
			margin-top: 27px;
		}
			.b-steps ul li{
				float: left;
				text-align: center;
				margin-right: 34px;
				position: relative;
				min-width: 158px;
				margin-right: 48px;
			}
				.b-steps ul li:last-child{
					margin-right: 0px;
				}
				.b-steps .step{
					float: left;
				}
				.b-steps ul li .logo{
					background-image: url("../i/routes/1.png");
					background-position: 50% 50%;
					background-repeat: no-repeat;
					width: 141px;
					height: 141px;
					display: inline-block;
					box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3) inset;
					border-radius: 50%;
				}
				.b-steps ul li:nth-child(2) .logo{
					background-image: url("../i/routes/2.png");
				}
				.b-steps ul li:nth-child(3) .logo{
					background-image: url("../i/routes/3.png");
				}
				.b-steps ul li:nth-child(4) .logo{
					background-image: url("../i/routes/4.png");
				}
				.b-steps ul li:nth-child(5) .logo{
					background-image: url("../i/routes/5.png");
				}
				.b-steps ul li div{
					/*display: inline-block;*/
				}
				.b-steps ul li p{
					font-family: "RCB";
					font-size: 18px;
					color: #FFF;
					margin-top: 9px;
					line-height: 20px;
					/*float: left;*/
					text-align: center;
					/*margin-left: -4px;*/
					max-width: 198px;
				}
					.b-steps ul li p b{
						
						color: #1E98CE;
					}
				.b-steps ul li > img{
					/*display: inline-block;*/
					margin-top: 135px;
					margin-bottom: 27px;
					position: absolute;
					top: 2px;
					right: -31px;
				}
				.b-steps ul li div img{
					float: left;
					margin-top: -6px;
					margin-left: 5px;
				}
.b-more{
	text-align: center;
}
	.b-more > .b-items{
		width: 100%;
		display: inline-block;
		margin-top: 35px;
	}
		.b-more .b-items .b-items-list{
			width: 100%;
		}
			.b-more .b-items .b-items-list:nth-child(2n){
				background-color: #ededed;
			}
			.b-more .b-items .b-items-list .center{
				display: inline-block;
			}
			.b-more .b-items .b-items-list .inside{
				display: table;
				padding: 12px 0px;
				min-height: 165px;
			}
				.b-more .b-items .b-items-list .inside .left-1{
					display: table-cell;
					vertical-align: top;
					margin-right: 15px;
				}
				.b-more .b-items .b-items-list .inside .item-avatar{
					background-image: url("../i/routes/1.png");
					background-position: 50% 50%;
					background-size: cover;
					width: 141px;
					height: 141px;
					border: 12px solid #ededed;
					border-radius: 50%;
					box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3) inset;
				}
					.b-more .b-items .b-items-list:nth-child(2) .inside .item-avatar{
						background-image: url("../i/routes/2.png");
					}
					.b-more .b-items .b-items-list:nth-child(3) .inside .item-avatar{
						background-image: url("../i/routes/3.png");
					}
					.b-more .b-items .b-items-list:nth-child(4) .inside .item-avatar{
						background-image: url("../i/routes/4.png");
					}
					.b-more .b-items .b-items-list:nth-child(5) .inside .item-avatar{
						background-image: url("../i/routes/5.png");
					}
					.b-more .b-items .b-items-list:nth-child(2n+2) .inside .item-avatar{
						border: 12px solid #FFF;
					}
					.b-more .b-items .b-items-list .inside .text{
						margin-left: 15px;
						display: table-cell;
						vertical-align: middle;
					}
					.b-more .b-items .b-items-list .text h3{
						color: #28324E;
						font-family: "RCB";
						font-size: 18px;
						text-align: left;
						margin-bottom: 15px;
					}
					.b-more .b-items .b-items-list .text p{
						color: #252525;
						font-family: "RCR";
						font-size: 14px;
						width: 770px;
						text-align: left;
					}
						.b-more .b-items .b-items-list .clearfix .text .submenu{
							
						}
							.b-more .b-items .b-items-list .clearfix .text .submenu li{
								list-style-type: disc;
								text-align: left;
								margin-left: 17px;
								color: #252525;
								font-family: "RCB";
								font-size: 14px;
							}
/*Основные маршруты---------------------------------------------------*/
/*Страхование---------------------------------------------------------*/
.b-insurance{

}
	.b-insurance .b-block{

	}
		.b-insurance h2{
			color: #28324E;
			font-family: "RCB";
			font-size: 24px;
			margin-top: 42px;
		}
		.b-insurance .clearfix{
			margin-top: 28px;
			margin-left: 54px;
			margin-bottom: 42px;
		}
			.b-insurance .clearfix .content{

			}
				.b-insurance .clearfix .content p{
					color: #252525;
					font-size: 14px;
					font-family: "RCR";
					width: 612px;
					text-align: left;
					margin-top: 23px;
				}
		.b-insurance .b-right-form{
			margin-top: 0px;
		}
.b-level{
	background-color: #28324E;
}
	.b-level .b-block{
		text-align: center;
	}
		.b-level h2{
			color: #FFF;
			font-family: "RCB";
			font-size: 24px;
			padding-top: 30px;
		}
		.b-level ul{
			margin-top: 33px;
			margin-bottom: 41px;
			display: inline-block;
		}
			.b-level ul li{
				display: block;
				overflow: hidden;
				border-radius: 30px;
				width: 290px;
				background-color: #FFF;
				height: 276px;
				margin-right: 35px;
			}
				.b-level ul li:last-child{
					margin-right: 0px;
				}
				.b-level ul li .middle{
					display: table-cell;
					vertical-align: middle;
					width: 290px;
				}
					.b-level ul li .back-img{
						width: 290px;
						height: 118px;
						background-image: url("../i/insurance/1.png");
						background-position: 50% 0px;
						background-size: cover;
					}
						.b-level ul li:nth-child(2) .back-img{
							background-image: url("../i/insurance/2.png");
						}
						.b-level ul li:nth-child(3) .back-img{
							background-image: url("../i/insurance/3.png");
						}
					.b-level ul li .text{
						display: table;
						height: 158px;
					}
						.b-level ul li .text h3{
							color: #9B0101;
							font-family: "RCB";
							font-size: 30px;
							text-align: center;
						}
						.b-level ul li .text p{
							color: #232323;
							font-family: "RCR";
							font-size: 15px;
							padding: 0px 17px;
						}
.b-application{

}
	.b-application .b-block{
		text-align: center;
	}
		.b-application p{
			color: #252525;
			font-family: "RCR";
			font-size: 14px;
			text-align: left;	
			width: 940px;
			display: inline-block;	
			margin-top: 52px;	
			margin-bottom: 18px;
		}	
		.b-application a{
			font-size: 16px;
			color: #252525;
			font-family: "RCB";
			text-align: left;
			display: inline-block;
			margin-left: 54px;
			margin-bottom: 69px;
		}
			.b-application a:hover{
				text-decoration: underline;
			}
/*Страхование---------------------------------------------------------*/