
@font-face {
    font-family: 'RCB';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Bold.svg#RCB') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RCBI';
    src: url('../fonts/RobotoCondensed-BoldItalic.eot');
    src: url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
         url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-BoldItalic.svg#RCBI') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RCR';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular.svg#RCR') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RCRI';
    src: url('../fonts/RobotoCondensed-Italic.eot');
    src: url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Italic.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
         url('../fonts/RobotoCondensed-Italic.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Italic.svg#RCRI') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RCL';
    src: url('../fonts/RobotoCondensed-Light.eot');
    src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Light.woff') format('woff'),
         url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Light.svg#RCL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RCLI';
    src: url('../fonts/RobotoCondensed-LightItalic.eot');
    src: url('../fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-LightItalic.woff') format('woff'),
         url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-LightItalic.svg#RCLI') format('svg');
    font-weight: normal;
    font-style: normal;

}
